LOCAL_STATIC_ROOT = ${__dirname}/src/static
LOCAL_WEB_ROOT =    ${__dirname}/src/client

PORT = 3001

STATIC_PREFIX =     /static

TEMP_FLODER =       ./temp
USER_AVATAR_FLODER = ./user-avatar

DB_TYPE = 'mongodb'
DB_HOST = 'localhost'
DB_PORT = 27017
DB_USERNAME = 'd2r'
DB_PASSWORD = 'd2r'
DB_DATABASE = 'd2r'
# DB_URI = 'mongodb+srv://<username>:<password>@cluster0.aoora.mongodb.net/d2r?retryWrites=true&w=majority'

JWT_SECRET = 'yourSecretKey'
JWT_SIGN_EXPIRES = '1200s'
